* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 2px,
      rgba(0, 0, 0, 0.03) 2px,
      rgba(0, 0, 0, 0.03) 3px,
      transparent 3px,
      transparent 5px,
      rgba(0, 0, 0, 0.03) 5px,
      rgba(0, 0, 0, 0.03) 7px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 40px
    );
  background-size: 20px 20px;
  font-family: "Inter", sans-serif;
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: #212121;
  padding: 0px 10px;
}

.nav-header {
  color: #ffffff;
}

ul {
  list-style: none;
  display: flex;
}
li > a {
  color: #212121;
  text-decoration: none;
}
li:not(:last-child) {
  margin-right: 10px;
}

.nav-link {
  background-color: #bbdefb;
  padding: 4px;
}

.nav-link:last-child {
  background-color: #03a9f4;
  padding: 4px;
  color: #212121;
}
/* NAV_END */

.cart-container {
  width: 90%;
  margin: 0 auto;
}

.cart-heading {
  text-align: center;
  color: #212121;
  font-size: 26px;
  letter-spacing: 2px;
  margin: 20px 0;
}

.card {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2196f3;
  color: white;
}

.card:not(:last-child) {
  margin-bottom: 15px;
}

.btn {
  padding: 5px 15px;
  background: #1976d2;
  border: none;
}

#ta {
  padding: 8px;
}

.fa,
.btn {
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

.label-address {
  display: block;
}

.btn-check {
  display: block;
  background-color: #1976d2;
  border: none;
  color: #ffffff;
  padding: 5px;
  letter-spacing: 2px;
  margin-top: 5px;
  cursor: pointer;
}

.para {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #212121;
  padding: 5px;
}

/* FOOTER */
footer {
  margin-top: 20px;
  height: 80px;
  background-color: #1976d2;
  color: white;
  padding: 20px;
}

.footer-u {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  margin-bottom: 10px;
}
